/* Application */
$appBkgColor: #f4f6f8;
$minAppWidth: 1024px;

/* App menu colors */
$menuBkgColor: #1B4A97;
$mainLinkColor: #FFFFFF;
$mainLinkHoverBkg: #252525;
$mainLinkHoverColor: #FFFFFF;
$mainLinkActiveColor: #FFFFFF;
$subLinkColor: #808080;
$subLinkActiveColor: #000000;
$uploadLinkActiveColor: #F1F6FD;
$widgetLinkColor: #59A3B5;
$headerTextColor: rgba(255,255,255,0.6);

$appMenuHeight: 50px;
$contentArea: calc(100vh - 100px);

$appContainerPadding: 50px;

/* Gridlex overrides */
$gl-gutter: 28px;

/* colors */
$kPrimary: #00a784;
$kSecondary: #01accd;
$kTertiary: #1b4a97;
$kBlack: #222222;
$kOrange: #F9A71B;
$kGrayscale1: #333333;
$kGrayscale2: #666666;
$kGrayscale3: #999999;
$kGrayscale4: #cccccc;
$kGrayscale5: #dadada;
$kGrayscale6: #ebebeb;
$kGrayscale7: #f4f4f4;
$kSuccess: #009444;
$kDandger: #db1f26;

// magnifying glass for input fields
$kMagnifyingGlassBkg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA0ElEQVR42mNgoCZob2936OjoWN/W1vYeiP+D6NbW1vlAcQW8Guvr6wVACqGasGKgfD5OA4AKFqBpeADEB4D4A7I40CUJWJ2NpOgDiI9meAGS/HuQa1EMADptA5INDthcCFTTgGRIAbrzYc58gCdwFZAMOIBuAHYJzHDCaQDMBe+JdMEEfDFQgCMMNuCMCTTTQQrqYSENkoMmrP94wwktlPFirGkBKb4/4ND4gShDoN4pgKZCEF4AUwyi0QwNICezIRuygKwcC7IZpBkYbgYgPgDi6SjP5aOsAQAAAABJRU5ErkJggg==') no-repeat 7px 9px;