@import '_variables.scss';

@font-face {
  font-family: 'kmcng-icon-pack';
  src:
          url('#{$mc-theme-font-path}/kmcng-icon-pack.woff2?hfxnrr') format('woff2'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.ttf?hfxnrr') format('truetype'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.woff?hfxnrr') format('woff'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.svg?hfxnrr#kmcng-icon-pack') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="kIcon"], [class*=" kIcon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kmcng-icon-pack' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kIconbulk:before {
  content: "\e92b";
}
.kIconUsers:before {
  content: "\e92e";
}
.kIconlive:before {
  content: "\e92c";
}
.kIconUpload:before {
  content: "\e92d";
}
.kIconReport:before {
  content: "\e900";
}
.kIconhelp_full:before {
  content: "\e92f";
}
.kIconinfo:before {
  content: "\e932";
}
.kIconPlaylist_Manual:before {
  content: "\e929";
}
.kIconPlaylist_RuleBased:before {
  content: "\e92a";
}
.kIconUnknown:before {
  content: "\e927";
}
.kIconLive:before {
  content: "\e928";
}
.kIconfolder_large:before {
  content: "\e903";
}
.kIconsound:before {
  content: "\e909";
}
.kIcongear:before {
  content: "\e904";
}
.kIconhelp:before {
  content: "\e905";
}
.kIconimage:before {
  content: "\e906";
}
.kIconpicture:before {
  content: "\e907";
}
.kIconplay:before {
  content: "\e930";
}
.kIconrefresh:before {
  content: "\e908";
}
.kIconuser:before {
  content: "\e90a";
}
.kIconvideo:before {
  content: "\e931";
}
.kIconpartial_small:before {
  content: "\e922";
}
.kIconpagination_end:before {
  content: "\e91f";
}
.kIconpagination_start:before {
  content: "\e920";
}
.kIconcheck_small:before {
  content: "\e91a";
}
.kIconclose_small:before {
  content: "\e91b";
}
.kIcondropdown_arrow_bottom:before {
  content: "\e91c";
}
.kIcondropdown_arrow_right:before {
  content: "\e921";
}
.kIcondropdown_arrow_left:before {
  content: "\e91d";
}
.kIcondropdown_arrow_top:before {
  content: "\e91e";
}
.kIconrefresh_small:before {
  content: "\e90b";
}
.kIconarrow_up:before {
  content: "\e90c";
}
.kIconarrow_backward:before {
  content: "\e90d";
}
.kIconarrow_forward:before {
  content: "\e90e";
}
.kIconcheck_large:before {
  content: "\e90f";
}
.kIconfilter:before {
  content: "\e910";
}
.kIconfolder:before {
  content: "\e911";
}
.kIconmagnifier:before {
  content: "\e912";
}
.kIconpen:before {
  content: "\e913";
}
.kIconshare:before {
  content: "\e914";
}
.kIconcalendar:before {
  content: "\e923";
}
.kIconhouse:before {
  content: "\e924";
}
.kIconuser_small:before {
  content: "\e925";
}
.kIconCopy-to-clipboard:before {
  content: "\e902";
}
.kIconupload:before {
  content: "\e915";
}
.kIconconfirmation:before {
  content: "\e916";
}
.kIconmore:before {
  content: "\e917";
}
.kIcontrash:before {
  content: "\e918";
}
.kIconwarning:before {
  content: "\e926";
}
.kIcontree-arrow-right:before {
  content: "\e919";
}
.kIcontree-arrow-down:before {
  content: "\e901";
}
